
footer.section {
    background-color:#f5f5f4;
}
.footer-img {
    width: 100%;
    height: auto;
}

@media(min-width: 1200px) {
    .smallview {
        display: none
    }
    .lgview {
        display: block
    }
}

@media(max-width: 1199px) {
    .smallview {
        display: block
    }
    .lgview {
        display: none
    }
}