#header {
    .navbar {
             padding: 0.5rem 15px;
             .navbar-brand {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
            .navbar-nav {
                .nav-item {
                    .dropdown-toggle{
                        &::after {
                            position: relative;
                            top: 1rem;
                            left: 0.25rem;
                            content: '';
                            background-image: url(./static-assets/chevron-down-gray.svg);
                            background-repeat: no-repeat;
                            background-size: 1.2rem;
                            width: 1.75rem;
                            height: 1.75rem;
                            border: none;
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: 0.3s -webkit-transform ease-in-out;
                            transition: 0.3s -webkit-transform ease-in-out;
                            transition: 0.3s transform ease-in-out;
                            transition: 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
                        }
                        &:hover::after,
                        &:focus::after {
                            position: relative;
                            top: 1rem;
                            left: 0.25rem;
                            content: '';
                            background-image: url(./static-assets/chevron-down-white.svg);
                            background-repeat: no-repeat;
                            background-size: 1.2rem;
                            width: 1.75rem;
                            height: 1.75rem;
                            border: none;
                        }
                    }
                    .nav-link {
                        &:hover {
                            color: #fff;
                            background-color: #0097d0;
                        }
                        &:focus-within {
                            color: #fff;
                            background-color: #0097d0;
                        }
                    }
                }
            }
    }
}

#header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    border-bottom: none;
    font-size: 1.825rem !important;
    color: #047db5;
    padding: 0.25rem 2rem;
}

.dropdown-toggle.schedule::after {
    display: none;
}

#header .navbar .navbar-nav .nav-item.show .nav-link::after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    top: 0.6rem;
    left: 0rem;
}

.menubar {
    margin-left: auto;
    border: 0;
}

.container {
    justify-content: unset !important;
}

.go-to-icon {
    background-image: url(./static-assets/goto-icon-color.svg);
    background-repeat: no-repeat;
}

.store-icon {
    background-image: url(./static-assets/shopping-cart-green.svg);
    background-repeat: no-repeat;
}

.search-icon {
    background-image: url(./static-assets/store-icon.svg);
    background-repeat: no-repeat;
}

.avtar-icon {
    background-image: url(./static-assets/avatar-gray.svg);
    background-repeat: no-repeat;
}


@media (min-width: 1200px){
    #header .navbar .utilities {
        border-left: 1px solid #e3e3e0;
        padding-left: 1rem;
    }
    #header .navbar {
        padding: 0 !important;
    }

    a.nav-link.go-to-icon {
        background-size: 3.5rem;
        width: 6.6875rem;
        height: 7rem;
        background-position-x: center;
        background-position-y: center;
        border-left: 0.01rem solid lightgrey;
    }

    a.nav-link.store-icon, a.nav-link.search-icon, a.nav-link.avtar-icon {
        background-size: 2.5rem;
        width: 6.6875rem;
        height: 7rem;
        background-position-x: center;
        background-position-y: center;
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute;
        top: 6.5rem;
        background-color: #f5f5f4;
        font-size: 1.125rem !important;
        color: #047db5;
        padding: 0.25rem 2rem;
    }

    .show-only-for-small-view {
        display: none
    }

    a.nav-link.dropdown-toggle {
        padding: 2rem !important;
    }    
}

@media (min-width: 768px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    font-size: 1.25rem !important;

    button.navbar-toggler.menubar::after { 
        border: 0;
        margin-left: auto;
    }
}

@media (max-width: 1199px) {
    #header .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #e3e3e0;
    }
    a.nav-link.go-to-icon {
        background-size: 3.5rem;
        height: 5rem;
        background-position-y: center;
    }

    a.nav-link.store-icon, a.nav-link.search-icon, a.nav-link.avtar-icon {
        background-size: 2.5rem;
        height: 5rem;
        background-position-y: center;
    }

    .show-only-for-small-view {
        display: block
    }

    a.nav-link.dropdown-toggle {
        padding: 0.5rem !important;
    } 
}
